body{
	padding-top: 70px;
}

.navbar-nav {
	display: flex;
	align-items: baseline;
}

.list-group-item {
	display: flex;
	padding: 5px 15px;
}

.strikethrough {
	text-decoration: line-through;
}

.checkbox {
	flex-grow: 1;
}
.checkbox label {
	display: block;
}